.info{
    margin-left: 430px;
    margin-bottom:15px ;
}
.rbutton{
    margin-left: 10px;
      padding: 5px 22px;
    size: 10px;
    
}
.submitbtn{
  margin-left: 250px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.link{
    text-decoration: none;
}